{% extends "base.html" %}
{% block title %}Apskates objekti{% endblock %}
{% block content %}
  <h1>Apskates objekti</h1>
  <div class="mb-4">
    <a href="/pilsetas/{{id}}/objekti/add" class="btn btn-primary">Pievienot objektu</a>
    <a href="/pilsetas" class="btn btn-secondary">Atpakaļ uz pilsētām</a>
  </div>
  <div class="grid" style="grid-template-columns: repeat(auto-fill, minmax(300px, 300px));">
    {% for objekts in objekti %}
    <div class="card">
      <div class="objekts-bilde-wrapper">
        <img src="{{ url_for('static', filename='images/objekti/' + objekts['foto_url'])}}" 
             alt="Apskates objekts">
        <a href="/pilsetas/{{ id }}/objekti/{{ objekts['id'] }}/dzest" 
           class="btn btn-danger btn-small"
           onclick="return confirm('Vai tiešām dzēst šo bildi?')">Dzest</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}